{{- if eq .Values.gateway.auth.type "jupyterhub" -}}
kind: Secret
apiVersion: v1
metadata:
  name: {{ include "dask-gateway.apiName" . }}
  labels:
    {{- include "dask-gateway.labels" . | nindent 4 }}
type: Opaque
data:
  jupyterhub-api-token: {{ required "gateway.auth.jupyterhub.apiToken must be defined when using jupyterhub auth" .Values.gateway.auth.jupyterhub.apiToken | b64enc | quote }}
{{- end }}
