[run]
omit =
    tests/*.py
    */_version.py
    dask-gateway-server/dask_gateway_server/managers/jobqueue/launcher.py
source = 
    dask-gateway-server/dask_gateway_server
    dask-gateway/dask_gateway
