[tool.black]
line-length = 88
# target-version should be all supported versions
target-version = ['py38', 'py39', 'py310']

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
# GitHub Actions make it hard for pytest to conclude it should use colors, due
# to this we explicitly make it do so. This is related to:
# https://github.com/actions/runner/issues/241
addopts = '--color=yes'

# asyncio_mode auto makes us not need to decorate our async test functions with
# @pytest.mark.asyncio, for more details see:
# https://github.com/pytest-dev/pytest-asyncio#auto-mode
asyncio_mode = 'auto'
