# isort is used for autoformatting Python code
#
# ref: https://pycqa.github.io/isort/
#
[tool.isort]
profile = "black"


# black is used for autoformatting Python code
#
# ref: https://black.readthedocs.io/en/stable/
#
[tool.black]
line-length = 88
target_version = [
    "py310",
    "py311",
    "py312",
    "py313",
    "py314",
]


# pytest is used for running Python based tests
#
# ref: https://docs.pytest.org/en/stable/
#
[tool.pytest.ini_options]
addopts = "--verbose --color=yes --durations=10"
testpaths = ["tests"]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"


# pytest-cov / coverage is used to measure code coverage of tests
#
# ref: https://coverage.readthedocs.io/en/stable/config.html
#
[tool.coverage.run]
omit = [
  "tests/*.py",
  "*/_version.py",
  "dask-gateway-server/dask_gateway_server/managers/jobqueue/launcher.py",
]
source = [
  "dask-gateway-server/dask_gateway_server",
  "dask-gateway/dask_gateway",
]


# tbump is used to simplify and standardize the release process when updating
# the version, making a git commit and tag, and pushing changes.
#
# ref: https://github.com/your-tools/tbump#readme
#
[tool.tbump]
github_url = "https://github.com/dask/dask-gateway"

[tool.tbump.version]
current = "2025.4.1-0.dev"
regex = '''
    (?P<major>\d+)
    \.
    (?P<minor>\d+)
    \.
    (?P<patch>\d+)
    (\-
        (?P<prelease>((alpha|beta|rc)\.\d+|0\.dev))
    )?
'''

[tool.tbump.git]
message_template = "Release {new_version}"
tag_template = "{new_version}"

[[tool.tbump.file]]
src = "dask-gateway/pyproject.toml"
search = 'version = "{current_version}"'

[[tool.tbump.file]]
src = "dask-gateway/dask_gateway/_version.py"
search = '__version__ = "{current_version}"'

[[tool.tbump.file]]
src = "dask-gateway-server/pyproject.toml"
search = 'version = "{current_version}"'

[[tool.tbump.file]]
src = "dask-gateway-server/dask_gateway_server/_version.py"
search = '__version__ = "{current_version}"'

[[tool.tbump.file]]
src = "resources/helm/dask-gateway/Chart.yaml"
search = 'appVersion: "{current_version}"'
