# This is configuration for chartpress, a CLI for Helm chart management.
#
# chartpress is used to test, package, and publish the dask-gateway Helm chart
# to the gh-pages based Helm chart repository at https://helm.dask.org and
# https://github.com/dask/helm-chart respectively. Note that a Helm chart
# repository is just a website that can serve a "index.yaml" file pointing to
# packaged Helm charts that can be downloaded.
#
# chartpress is used to:
# - Build images for multiple CPU architectures
# - Update Chart.yaml (version) and values.yaml (image tags)
# - Package and publish Helm charts to a GitHub based Helm chart repository
#
# Configuration reference:
# https://github.com/jupyterhub/chartpress#configuration
#
charts:
  - name: dask-gateway
    imagePrefix: ghcr.io/dask/
    repo:
      git: dask/helm-chart
      published: https://helm.dask.org
    images:
      # Used for clusters' scheduler and workers pods by default
      dask-gateway:
        imageName: ghcr.io/dask/dask-gateway
        contextPath: ../../dask-gateway
        valuesPath:
          - gateway.backend.image
        # FIXME: psutils, a dependency of distributed, currently doesn't have wheels
        #        for arm64 and requires `gcc` and `python3-dev` of a compatible version
        #        of python (python 3.9 for debian bullseye).
        skipPlatforms:
          - linux/arm64
      # Used for the api and controller pods
      dask-gateway-server:
        imageName: ghcr.io/dask/dask-gateway-server
        contextPath: ../../dask-gateway-server
        valuesPath:
          - gateway.image
          - controller.image
