# These are dependencies for installing the dask-gateway package.
#
# NOTE: changes to the dependencies here must also be reflected in
#       ../dev-environment.yaml
#
aiohttp
click
dask>=2.2.0
distributed>=2021.01.1
pyyaml
tornado
