# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
#
name: Build and publish documentation

on:
  pull_request:
    paths:
      - "docs/**"
      - "dask-gateway/**"
      - "dask-gateway-server/**"
      - ".github/workflows/build-publish-docs.yaml"
  push:
    paths:
      - "docs/**"
      - "dask-gateway/**"
      - "dask-gateway-server/**"
      - ".github/workflows/build-publish-docs.yaml"
    branches: ["main"]
    tags: ["**"]
  workflow_dispatch:

env:
  commit_msg: ${{ github.event.head_commit.message }}

jobs:
  build-and-publish-docs:
    name: Build and publish documentation
    runs-on: ubuntu-latest

    # permissions requested for secrets.github_token in order to push to the
    # gh-pages branch, available for push and workflow_dispatch triggers.
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install Python docs requirements
        run: |
          DASK_GATEWAY_SERVER__NO_PROXY=true pip install -r docs/requirements.txt

      - name: Build docs (make html)
        run: |
          cd docs
          make html SPHINXOPTS='--color -W --keep-going'

      - name: Push built docs to gh-pages branch
        uses: JamesIves/github-pages-deploy-action@v4.2.5
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          branch: gh-pages
          folder: docs/_build/html/

  linkcheck-docs:
    name: Test links in docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install Python docs requirements
        run: |
          DASK_GATEWAY_SERVER__NO_PROXY=true pip install -r docs/requirements.txt

      - name: Linkcheck docs (make linkcheck)
        run: |
          cd docs
          make linkcheck SPHINXOPTS='--color -W --keep-going'
