# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
#
name: Test

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "**.rst"
      - ".github/workflows/*"
      - "!.github/workflows/test.yaml"
  push:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "**.rst"
      - ".github/workflows/*"
      - "!.github/workflows/test.yaml"
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
    tags: ["**"]
  workflow_dispatch:

env:
  commit_msg: ${{ github.event.head_commit.message }}

jobs:
  main-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # We test against different versions of Python and Golang, but not
          # against different versions of Node.
          #
          # - The Python version installed where dask-gateway and
          #   dask-gateway-proxy is run by the end user matters, so we test
          #   against all the versions we intend to support.
          #
          #   We could for example choose to test against the versions that
          #   hasn't reached end of life yet: https://endoflife.date/python.
          #
          # - The Golang version that compiles
          #   dask-gateway-server/dask-gateway-proxy bundled for the
          #   dask-gateway-server Python package is the only thing that matters.
          #   Due to that, we can test fewer versions of Golang.
          #
          #   We could for example choose to test against the versions that
          #   hasn't reached end of life yet: https://endoflife.date/go.
          #
          # - Node is a dependency for JupyterHub's configurable-http-proxy that
          #   we test integration with. We can test against only one version and
          #   that would be fine.
          #
          - python-version: "3.7"
            go-version: "1.15"
          - python-version: "3.8"
            go-version: "1.16"
          - python-version: "3.9"
            go-version: "1.17"
          - python-version: "3.10"
            go-version: "1.18"

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: "${{ matrix.python-version }}"

      - uses: actions/setup-go@v3
        with:
          go-version: "${{ matrix.go-version }}"

      - uses: actions/setup-node@v3

      - name: Install Python test requirements
        run: |
          continuous_integration/install.sh

      - name: List Python packages
        run: |
          pip freeze

      - name: Run Python tests
        run: |
          py.test tests/ -k 'not kubernetes' -v

      - name: Install Go test requirements
        run: |
          cd dask-gateway-server/dask-gateway-proxy
          go get github.com/stretchr/testify/assert

      - name: Run Go tests
        run: |
          cd dask-gateway-server/dask-gateway-proxy
          go test

  hadoop-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Hadoop Install/Start
        if: ${{ env.commit_msg != 'skip-tests' }}
        run: |
          ./continuous_integration/docker/hadoop/start.sh
          ./continuous_integration/docker/hadoop/install.sh
          ./continuous_integration/docker/hadoop/script.sh

  kubernetes-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # We run this job multiple times with different parameterization
        # specified below, these parameters have no meaning on their own and
        # gain meaning on how job steps use them.
        #
        # k3s-version: https://github.com/rancher/k3s/tags
        # k3s-channel: https://update.k3s.io/v1-release/channels
        #
        include:
          - k3s-channel: v1.20
          - k3s-channel: v1.21
          - k3s-channel: v1.22
          - k3s-channel: v1.23
    steps:
      - uses: actions/checkout@v3

      # Starts a k8s cluster with NetworkPolicy enforcement and installs both
      # kubectl and helm
      #
      # ref: https://github.com/jupyterhub/action-k3s-helm/
      #
      - uses: jupyterhub/action-k3s-helm@v1
        with:
          k3s-channel: ${{ matrix.k3s-channel }}
          metrics-enabled: false
          traefik-enabled: false
          docker-enabled: true

      - name: Helm lint and render templates
        run: |
          ./continuous_integration/kubernetes/helm-lint-and-template.sh

      - name: Helm Install
        run: |
          ./continuous_integration/kubernetes/helm-install.sh
          ./continuous_integration/kubernetes/install.sh

      - name: Kubernetes Tests
        run: |
          ./continuous_integration/kubernetes/script.sh

      # ref: https://github.com/jupyterhub/action-k8s-namespace-report
      - name: Kubernetes namespace report
        uses: jupyterhub/action-k8s-namespace-report@v1
        if: always()
        with:
          important-workloads: >-
            deploy/api-test-dask-gateway
            deploy/controller-test-dask-gateway
            deploy/traefik-test-dask-gateway

  pbs-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: PBS Tests
        if: ${{ env.commit_msg != 'skip-tests' }}
        run: |
          ./continuous_integration/docker/pbs/start.sh
          ./continuous_integration/docker/pbs/install.sh
          ./continuous_integration/docker/pbs/script.sh

  slurm-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Slurm Tests
        if: ${{ env.commit_msg != 'skip-tests' }}
        run: |
          ./continuous_integration/docker/slurm/start.sh
          ./continuous_integration/docker/slurm/install.sh
          ./continuous_integration/docker/slurm/script.sh
